@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

/*font-family: 'Montserrat', sans-serif;*/
*{
	padding: 0px;
	margin: 0px;
}
.light-bg{
	background-color:#FCEEF1;
}
.dark-bg{
	background-color: black;
}

.gray-bg{
	background-color: #F4F4F4;
	padding: 50px;
	margin: 5% 0% 11% 0%
}
.container{
	width: 80%;
	padding: 5% 10% 0% 10%;
}

.container2{
	width: 80%;
	padding: 5% 10% 5% 10%;
}

.container3{
	width: 80%;
	padding: 0% 10% 0% 10%;
}

.row{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.row2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row3{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


/*Header Section Start*/

.header{}
.header .left img{
	width: 20%; 
}
.header .right{}
.header .right ul{
	display: flex;
	float: right;
}
.header .right ul li{
	list-style-type: none;
}
.header .right ul li a{
	text-decoration: none;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 600;
	color: pink;
	display: block;
}

/*Header Section End*/

/*Hero section Start*/
.md-7{
	width: 55%;
	height: auto;
	padding-right: 20%;
}
.md-5{
	width: 45%;
	height: auto;
}

.md-7 h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 46px;
	font-weight: 800;
}

.md-7 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3%;
}

.md-7 button{
	background-color: #E55473;
    color: white;
    padding: 11px 26px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 3%;
}

.md-5 img{
	width: 100%;
}

/*Hero section end*/



/*Featured section Star*/
.featured{
	text-align: center;
}

.featured h2{
	font-size: 40px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.featured p{
	font-size: 15px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 2% 0%;
}

.featured  p.pink{
	font-size: 15px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 7%;
	text-decoration: underline;
}

.featured .gray-bg p{
	font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.featured .gray-bg img.img-one{
	width: 40%;
}
.featured .gray-bg img.img-two{
	width: 44%;
}
.featured .gray-bg img.img-three{
	width: 62%;
}


.featured .one{
	background-color: #F1DDE7;
	height: 400px;
	width: 350px;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	overflow: hidden;
}
.featured .two{
	background-color: #D9EFF0;
	height: 400px;
	width: 350px;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	overflow: hidden;
}
.featured .three{
	background-color: #E3EBDB;
	height: 400px;
	width: 350px;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	overflow: hidden;
}

.featured .one img, .featured .two img, .featured .three img{
	width: 65%;
    padding-top: 86px;
}
/*Featured section End*/



/*Hot Deal Section Start*/
.hot-deal{
	text-align: center;
}

.hot-deal h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 800;
}

.hot-deal p{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3%;
}
/*Hot Deal Section End*/


/*Instagram Section Start*/
.instagram h2{
	font-size: 40px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.instagram p{
	font-size: 15px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 1% 0%;
}
.instagram div{
	padding: 10px;
}
.instagram img{
	width: 100%;
}

/*Instagram Section End*/




/*Call to section start*/
.bg-image{
	background-image: url('../img/Rectangle 9.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px 0px;
}

.bg-image h2{
	font-size: 40px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.bg-image p{
	font-size: 15px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.bg-image form{
	text-align: center;
}
.bg-image form input[type="email"]{
	width: 45%;
    padding: 16px 5px;
    border: none;
    margin-right: 1%;
    border-radius: 7p;
}
.bg-image form input[type="submit"]{
	background-color: #E55473;
    color: white;
    padding: 11px 26px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 3%;
}
/*Call to Section End*/




/*Footer Section Start*/
.footer{}
.footer h2{
	font-size: 40px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 1% 0%;
	color: white;
}
.footer p{
	font-size: 15px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 1% 0%;
	color: white;
}
.footer p.copyright{
	color: #303B43;
	font-size: 15px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 2% 0%;
}
.pinkcolor{
	color: #E55473;
}
/*Footer Section End*/